/***************** Tab-bar settings *****************/
/* large font, slim tab-bar */
html {	
    font-size: 13px !important;
    --tab-min-height: calc(1em + 10px) !important;
}
.tab-label {
    line-height: 1.2em !important;
}
.tab-label-container {
    height: 1.2em !important;
}

/* Replace PLAYING text with blue underbar */
tab[soundplaying] .tab-background {
    border-bottom: 1px solid rgb(0,221,255) !important;
}
.tab-icon-sound-playing-label {
    display: none;
}

/* NOTABS - hide tab-bar altogether, using tree-style tab */
#TabsToolbar, #TabsToolbar > *  {
    /* all transition timing acts as delay */
    transition-timing-function: step-end;
}
/* focus not on tabs, titlebar buttons explicitly excluded from tabs */
#TabsToolbar {
    max-height: 1px !important;
    background: #008 !important;
    /* hide after a grace period */
    transition: max-height 2s step-end, background 2.1s step-end;
}
.titlebar-buttonbox-container {
    /* titlebar buttons positioned independently */
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
}
#TabsToolbar > :not(.titlebar-buttonbox-container) {
    visibility: hidden !important;
    transition: visibility 2s step-end;
}
#nav-bar, #TabsToolbar {
    margin-right: 100px; /* Make room for titlebar buttons *?
}
/* END OF NOTABS */
